.home-title {
  text-align: center;
}

.title {
  margin: 20px;
}

.title {
  font-weight: bold;
  color: black;
}

.title {
  padding-bottom: 5px;
  border-bottom: red 2px solid;
}

.navbar {
  background-color: red !important;

}

.navbar * {
  color: white;
  font-weight: lighter;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown-item {
  color: black !important;
}

.navbar-toggler {
  background-color: white !important;
}

.paragraphe {
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 20px;
  line-height: 1.7;
}

.col span {
  margin-top: 50px;
  font-size: 20px;
  color: black;
}

.paragraphe1 {
  color: gray !important;
}

img.logo {
  height: 60px;
}

form {
  border: 3px solid #f1f1f1;
}


input[type=text],
input[type=email],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.login {
  background-color: red !important;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}


button:hover {
  opacity: 0.8;
}


.cancelbtnn {
  width: auto;
  padding: 10px 18px;
  background-color: red;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

span.psw {
  float: right;
  padding-top: 16px;
}

img.avatar {
  width: 250px;
  border-radius: 50%;
}

* {
  box-sizing: border-box
}

input[type=text,]
input[type=email],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.signupbtn {
  background-color: green !important;
  color: white;
  padding: 16px 20px;
  margin: px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.button:hover {
  opacity: 1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}